html {
    height: 100%;
    width: 100%;
  }
  
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    display: grid;
    border: 1px solid black;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    width: 500px;
    height: 500px;
    margin-bottom: 50px;
  }
  
  .cell {
    border: 1px solid black;
  }
  
  .choices{
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-bottom: 25px;
    margin-top: 15px;
  }
  
  .reset{
    margin-bottom: 50px;
  }